@import "./normalize/normalize";

.title {
	width: 100%;
	text-align: center;
}

.animals {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__voice-container {
		display: flex;
		align-items: center;
	}
}