// @import "./normalize/normalize";
@import "./normalize";
@import "./base";
@import "./vars";

// * Общие классы *//

.h2_pet {
	margin-bottom: 50px;
}

.h1 {
	font-size: 47px;
}

.h2 {
	font-size: 45px;
	line-height: 110%;
}

.h3 {
	font-size: 30px;
	line-height: 110%;
}

.title {
	width: 100%;
	text-align: center;
}

.text {
	font-size: 18px;
}

.text-uppercase {
	text-transform: uppercase;
}

.border-between-sections {
	width: 100%;
	height: 2px;
	margin: 50px 0;
	display: block;
	background-color: black;
}

//* JS Классы. Животные *//

.animals {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__voice-container {
		display: flex;
		align-items: center;
	}
}

//* Форма *//

.form {
	display: flex;
	flex-direction: column;

	&__section {
		// max-height: 555px;
		min-height: 555px;
		height: 100%;
		display: flex;
		gap: 70px;
		justify-content: space-between;
	}

	&__container {
		flex: 1;
		padding-right: 130px;
		padding-top: 20px;
	}

	&__container-top {
		margin-bottom: 55px;

		h2 {
			margin-bottom: 23px;
		}
	}

	&__image-container {
		max-width: 690px;
		width: 100%;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__submit-button {
		max-width: 165px;
		margin-bottom: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
		font-size: 16px;
		padding: 15px 17px 15px 22px;
		border: none;
		border-radius: 10px;
		cursor: pointer;

		&_valid {
			color: white;
			background-color: rgba(29, 29, 29, 1);
			opacity: 1;

			&:hover {
				opacity: 0.8;
			}
		}

		&_invalid {
			color: white;
			background-color: rgba(29, 29, 29, 1);
			opacity: 0.2;
			cursor: default;
		}
	}

	&__label {
		width: 100%;
		position: relative;
		margin-bottom: 38px;

		&:last-of-type {
			margin-bottom: 47px;
		}
	}

	&__input {
		width: 100%;
		border: none;
		border-bottom: 1px solid #ccc;
		padding: 8px 0;

		&:focus {
			outline: none;
			border-bottom-color: #888;
		}
	}

	&__input-error {
		position: absolute;
		top: 100%;
		left: 0;
		height: max-content;
		color: red;
	}

	&__disclaimer {
		font-size: 14px;
		color: #333;
	}
}
